<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625028226894-piqo0mg3nf61i0jcgoeocfhijt791881.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625028226894-piqo0mg3nf61i0jcgoeocfhijt791881</string>
	<key>API_KEY</key>
	<string>AIzaSyCupvOPWcHrGdBAyzr5T_BaoCQT5zKHCgE</string>
	<key>GCM_SENDER_ID</key>
	<string>625028226894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uos.eventbooking</string>
	<key>PROJECT_ID</key>
	<string>event-booking-app-db</string>
	<key>STORAGE_BUCKET</key>
	<string>event-booking-app-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625028226894:ios:8feda20257eef4a3a5c81f</string>
	<key>DATABASE_URL</key>
	<string>https://event-booking-app-db.firebaseio.com</string>
</dict>
</plist>